<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/signin.css">
    <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Potta+One&display=swap" rel="stylesheet">
    <title>Dictobuddy Signin</title>
</head>

<body>
    <div class="siginbody">
        <div class="left-image">

        </div>
        <div class="flyingbooks">
            
        </div>


        <div class=" form-container">

            <div class="header">
                <h1>Dictiobuddy</h1>
                <p>Search multiple words at a time..</p>
            </div>
            <div class="signin-form-container">
                <form action="/" class="signin-form" method="post">

                    <div class="signininputs">
                        <label for="name">Name</label>
                        <input type="text" name="name" required autocomplete="off">
                    </div>

                    <div class="signininputs">
                        <label for="name">PIN</label>
                        <input type="password" name="pin" required autocomplete="off">
                    </div>

                    <div class="signinformbuttons">
                        <button type="submit">Sign In</button>
                        <button><a href="/signup">Sign Up</a></button>
                    </div>

                </form>
                
                
            </div>
            <p  id="signinpageinfo">
                <%= note %>
            </p>

        </div>
      
    </div>


</body>

</html>