body {
    background: linear-gradient(120deg, rgb(0, 0, 0), rgb(83, 16, 16));
    background-repeat: no-repeat;
    background-size: auto;
    height: 100vh;
}

.container {
    background: linear-gradient(120deg, rgb(0, 0, 0), rgb(83, 16, 16));
    height: auto;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;

}



h1 {
    color: rgb(0, 224, 240);
    display: block;
    text-align: center;
    margin: auto;
}

.searchform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.inputcontainer {
    width: 60vw;
    display: grid;
    grid-template-columns: 34% 34% 34%;
    grid-gap: auto;


}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.inputs label {
    color: rgb(0, 224, 240);
    text-align: center;
    margin: 10px;
}

.search {
    padding: 5px 4px;
    background-color: rgba(0, 255, 255, 0);
    color: white;
    border: 1px solid rgb(0, 224, 240);
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;

}


@media only screen and (min-width:200px) and (max-width:500px) {
    .inputcontainer {
        width: 60vw;
        display: grid;
        grid-template-columns: 100%;
        grid-gap: auto;


    }

}


@media only screen and (min-width:501px) and (max-width:1000px) {
    .inputcontainer {
        width: 60vw;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: auto;


    }


}